<!DOCTYPE html>
<html>
<head>
  <title>Hospitality Digitalization</title>
</head>
<body>
  <h1>Upload Group and Hostel Information</h1>
  <form ref='uploadFormGroups' 
    id='uploadFormGroups' 
    action='/uploadGroups' 
    method='post' 
    encType="multipart/form-data">
      <input type="file" name="groupFile" />
      <input type='submit' value='Upload Groups' />
  </form>
  <br />
  <form ref='uploadFormHostels' 
    id='uploadFormHostels' 
    action='/uploadHostels' 
    method='post' 
    encType="multipart/form-data">
      <input type="file" name="hostelFile" />
      <input type='submit' value='Upload Hostels' />
  </form>
  <br />
  <form action="/allocateRooms" method="get">
    <input type='submit' value='Allocate Rooms' />
  </form>
</body>
</html>
